# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/
build/
out/
*.iml
resources.iml
.DS_Store
.java-version

gatling-charts-highcharts-bundle-3.9.5
gatling-bundle-3.9.5-bundle.zip
gatling-bundle.tar
gatling-lib